<div style="font-family: sans-serif; max-width: 1000px; margin: 0 auto; padding: 20px;">

    <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px;">

        <div style="flex: 1; min-width: 250px; max-width: 300px; text-align: center; border: 1px solid #eee; border-radius: 12px; padding: 15px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
            <a href="/history/"><img src="/docs/assets/images/History_meta.jpg" alt="visit History news" style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover; border-radius: 8px;"></a>
        </div>

        <div style="flex: 1; min-width: 250px; max-width: 300px; text-align: center; border: 1px solid #eee; border-radius: 12px; padding: 15px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
            <a href="/philosophy/"><img src="/docs/assets/images/Philosophy_meta.jpg" alt="visit Philosophy news" style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover; border-radius: 8px;"></a>
        </div>

        <div style="flex: 1; min-width: 250px; max-width: 300px; text-align: center; border: 1px solid #eee; border-radius: 12px; padding: 15px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
            <a href="/travel/"><img src="/docs/assets/images/Travel_meta.jpg" alt="visit Travel news" style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover; border-radius: 8px;"></a>
        </div>


    </div>
</div>